.header {
  background-color: #202b53;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 7px 7px 0 0;
}

.btnContainer {
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.headerText {
  user-select: none;
  /* position: absolute; */
  color: white;
  text-align: center;
  /* left: 50%; */
}
